<% @projects.each do |project| %>
	<p><strong><%= project.title %> -<em> <%= project.description %>
  <%= "| #{project.percent_complete}" if project.percent_complete != nil %></em></strong></p>
<% end %>